<div class="row animated fadeIn fast m-5">
  <div>
    <h2>About us:</h2>
  </div>
  <br><br>
  <div>
    <p>
      The project that has been developed consists of two parts, a device and an app
      connected to it.
    </p>
    <p>
      ** The device makes the readings of the amperage consumed in the electrical
      devices that are wanted through sensors.
    </p>
    <p>
      ** The mentioned readings will be stored in a database for your later study.
    </p>
    <p>
      ** The mobile application will collect said data to show them to the users on
      demand and will report the consumption and the real-time cost of the devices
      connected to the device mentioned above.
    </p>
  </div>
</div>
