<div id="intro-app" *ngIf="intro" style="text-align: center" class="m-5">

  <div>
    <img alt="img-constech" style="width:70%"
      src="../../../assets/img/constech.png">
  </div>

  <div class="animated fadeIn m-5">
    <div class="col">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
  </div>

</div>


<div class="container main-container animated fadeIn fast" *ngIf="!intro">
    You can see a lot of information of your measurements:
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/realTimeMeasure']">Real time</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/dailyMeasure']">Daily</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/monthlyMeasure']">Monthly</a>
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/annualMeasure']">Annual</a>
</div>
