<app-loading *ngIf="loading"></app-loading>

<!--Si se llega al limite de potencia se llama a empty-data para mostrar una alerta, la cual se ha de crear-->

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-md-8">
    <h2>Real-Time Measurement:</h2>
  </div>
  <div class="col-md-4">
    <a class="btn btn-primary btn-lg" style="color: white" onclick="window.location.reload()">Refresh</a>
  </div>
</div>

<br><br>

<app-empty-data *ngIf="!loading" [typeTable]="typeTableRT" [len]="allData.length"
  [limitPower]="limitReached" [error]="error" [errorMessage]="errorMessage"></app-empty-data>

<app-month-year-table *ngIf="!loading" [mData]="allData" [lenRT]="len"
  [typeTable]="typeTableRT"></app-month-year-table>
